# Ignore markdown files except README.md
*.md
!README.md

# Jupyter
Running_Quanty.ipynb
.ipynb_checkpoints/

# Python bytecode cache
__pycache__/
*.pyc

C:/
.DS_Store

# Logs
*.log

# Dataset files
/data/
/models/
*.h5
*.joblib
*.log
*.sh